bindings/java/dummy.cpp
build/*
src/pHash.h

.idea
.vscode

aclocal.m4
cmake_install.cmake
CMakeCache.txt
compile
configure
config.log
config.guess
config.status
config.sub
config.h
config.h.in
CPackConfig.cmake
CPackSourceConfig.cmake
depcomp
install-sh
libtool
ltmain.sh
Makefile
Makefile.in
missing
pHash.pc
pHash-config.h
stamp-h1
stamp-h2

autom4te.cache
CMakeFiles

src/.deps
src/.libs
src/*.o
src/*.la
src/*.lo
src/Makefile

examples/.deps
examples/.libs
examples/Makefile
examples/Makefile.in
examples/test_*.o
examples/test_audio
examples/test_image
examples/test_mhimagehash
examples/test_printimagehash
examples/test_texthash
examples/test_video

bindings/Makefile
bindings/Makefile.in
bindings/java/.deps
bindings/java/Makefile
bindings/java/Makefile.in

Release
